name: Test OIDC to Artifactory
on: {workflow_dispatch:}

permissions:
  id-token: write
  contents: read

jobs:
  oidc-test:
    runs-on: ubuntu-latest
    steps:
      - name:   Get GitHub OIDC token
        id: get
        run: |
          # 拽砖 拽 OIDC; -audience  转  注专 砖转专砖 -JFrog
          REQ_URL="${ACTIONS_ID_TOKEN_REQUEST_URL}&audience=https://github.com/Fadi-jello"
          TOKEN=$(curl -sLS "$REQ_URL" \
                 -H "Authorization: bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" | jq -r '.value')
          echo "::add-mask::$TOKEN"
          echo "$TOKEN" > token.txt
          echo "Payload:"
          cut -d '.' -f2 token.txt | base64 -d | jq

      - name:   Exchange token with Artifactory
        run: |
          ART_URL="https://elinaf.jfrog.io/access/api/v1/oidc/token"
          PROVIDER_NAME="fadije"      # 拽  -UI
          TOKEN=$(cat token.txt)

          curl -i -X POST "$ART_URL" \
            -H "Content-Type: application/json" \
            -d '{
              "grant_type":"urn:ietf:params:oauth:grant-type:token-exchange",
              "subject_token_type":"urn:ietf:params:oauth:token-type:id_token",
              "subject_token":"'"$TOKEN"'",
              "provider_name":"'"$PROVIDER_NAME"'"
            }'
